
body {
    font-family: sans-serif;
    font-size: 16px;
    color: #ddd;
    background: #111;
}

img {
    border: 2px solid #050505;
}

a, a:hover, a:link, a:visited {
    color: #FF5D48;
}

.screenshots {
    text-align: center;
}


.main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.body {
    padding: 1em;
    margin: 20px 0px;
    background: #222;
    box-shadow: 1px 1px 8px black;
}


.footer {
    margin-top: 10px;
    padding: 1em;
    font-size: 12px;
    margin-bottom: 80px;
    text-align: center;
    color: #555;
}

.footer a {
    color: #555;
}


